// Font.
$font: (
  primary: (
    "Roboto",
    Helvetica,
    sans-serif,
  ),
  monospace: (
    Consolas,
    Monaco,
    "Andale Mono",
    "Ubuntu Mono",
    monospace,
  ),
);

// Palette.
$palette: (
  primary: #2e3440,
  secondary: darken(#2e3440, 15%),
  meta: lighten(#4c566a, 30%),
  border: lighten(#4c566a, 55%),
  bg: lighten(#2e3440, 60%),
  accent: #1de2bc,
  accent-blue: #10bcf9,
  accent-yellow: #e09b00,
  accent-violet: #b48ead,
  accent-orange: #fc6e51,
);

@import "imports/functions";

@import "../../static/assets/css/fontawesome.min.css";
@import "../../static/assets/css/brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
//@import "imports/post-navigation";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";
@import "imports/code-highlights";
